:root {
  --vh: vh;
}

html {
  font-family: Tahoma, sans-serif;
  font-size: 10px;
  background-color: #f00;
}

body {
  margin: 0;
  font-size: 1.4rem;
  color: #e8e8e8;
  background-color: #a0a0a0;
}

main {
  position: relative;
  height: calc(var(--vh, 1vh) * 100);
}

input[type=button] {
  border: 1px solid #808080;
  border-radius: 2px;
  background-color: #484848;
  color: #f0f0f0;
  font-size: 2em;
}

header {
  box-sizing: border-box;
  height: 4em;
  padding: 0.5em;
  background-color: #585858;
}

header h1 {
  display: inline-block;
  margin: 0;
  font-size: 2em;
}

header #plus {
  float: right;
  background-color: #e8e8e8;
  color: #303030;
  font-size: 2.0em;
}

#reminders-box {
  height: calc(100% - 6em);
  overflow: hidden;
  color: #000000;
}

#all-reminders {
  position: relative;
}

.reminder {
  display: grid;
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  height: 8em;
  padding: 0.5em;
  background-color: #ffffff;
  border-bottom: 1px solid #686868;
}

.reminder .until {
  color: #585858;
}

.reminder .date {
  color: #202020;
}

.reminder .note {
  color: #585858;
}

footer {
  box-sizing: border-box;
  height: 2em;
  padding: 0.5em;
  background-color: #585858;
}

#version {
  float: right;
  color: #808080;
}

#console-box {
  box-sizing: border-box;
  height: calc(100% - 1em);
  padding: 0.5em 1em;
  border: 1px solid #686868;
  border-radius: 4px;
  margin: 0.5em;
  background-color: #e8e8e8;
  color: #303030;
  font-family: monosspace;
  overflow-y: scroll;
}

#data-box {
  box-sizing: border-box;
  display: none;
  position: absolute;
  top: 2%;
  left: 2%;
  width: 96%;
  height: 96%;
  padding: 1em;
  border: 2px solid #a0a0a0;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 90%);
}

#data-buttons {
  position: absolute;
  bottom: 1em;
}
